        @font-face {
        font-family: arcana;
        src: url(./arcana.ttf);
    }

    body {
        font-family: arcana;
    }

    .flip-container {
        perspective: 1000px;
        margin: 10% auto;
    }
    /* flip the pane when hovered */

    .flip-container.clicked .flipper,
    .flip-container.clicked .flipper {
        transform: rotateY(180deg);
    }

    .flip-container,
    .front,
    .back {
        width: 235px;
        height: 415px;
    }
    /* flip speed goes here */

    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }
    /* hide back of pane during swap */

    .front,
    .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    /* front pane, placed above back */

    .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
    }
    /* back, initially hidden pane */

    .back {
        transform: rotateY(180deg);
        padding: 10px;
        box-sizing: border-box;
        background-color: whitesmoke;
        position: relative;
    }

    h2 {
        text-align: center;
    }

    .card {
        width: 235px;
        height: 415px;
        border-radius: 3%;
        overflow: hidden;
        box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.3);
        display: inline-block;
    }

    .card img {
        width: 100%;
        height: 100%;
    }

    #description {
        position: absolute;
        box-sizing: border-box;
        top: 90%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: top 0.5s, opacity 0.6s, border 0.1s;
        padding: 30% 15px 0;
        /* background: linear-gradient(rgba(255, 255, 255, 0), whitesmoke 20%) */
        background: rgba(175, 156, 114, 0.9);
        font-size: 18px;
        opacity: 0;
        border: 12px rgba(0, 0, 0, 0);
        overflow-y: scroll;
    }

     ::-webkit-scrollbar {
        display: none;
    }

    #description:hover {
        top: 0%;
        opacity: 1;
        border: 12px solid whitesmoke;
        border-radius: 1%;
    }

    #description.descappear {
        top: 0%;
        opacity: 1;
        border: 12px solid whitesmoke;
        border-radius: 1%;
    }

    button {
        position: absolute;
        bottom: 13%;
        right: 12%;
        background-color: white;
        border-radius: 100%;
        width: 22px;
        height: 22px;
        display: none;
        padding: 0;
        text-align: center;
    }

    @media(max-width: 800px) {
        button {
            display: inline-block;
        }
    }

    @media(max-width: 400px) {
        .card {
            width: 100%;
            height: 139vw;
        }
        .flip-container {
            width: 80vw;
            height: auto;
            margin: 5% auto;
        }
            .flipper {
                width: 100%;
            }
            #description {
                font-size: 25px;
            }
        }